*.class
*.log

# sbt specific
.cache
.history
.project
.classpath
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
/bin/
/.cache-main
.cache-main
.cache-test
.settings/*
/.cache-tests
spark-orientdb-connector-demos/.settings
spark-orientdb-connector/.gitignore

# Intellij
.idea/
*.iml
*.iws

